<div class="body">
      <div class="head">
        <a class="logo" routerLink="/dashboard" routerLinkActive="active">The Narwhal Project</a>
      </div>
      <div class="nav">
        <a class="first" routerLink="/dashboard" routerLinkActive="active">Records</a>
        <a class="current" routerLink="/accounts" routerLinkActive="active">{{currentUser.username}}</a>
        <a class="nav" [routerLink]="['/login']">Logout</a>
      </div>

    <div class="wrapperAcct">
      <div class="tags">
        <p>Full Name:</p>
        <p>Date of Birth:</p>
        <p>User ID:</p>
        <p>Username:</p>
        <p>Permission Level:</p>
      </div>
      <div class="information">
        <p>{{currentUser.firstname}} {{currentUser.lastname}}</p>
        <p>{{currentUser.dateOfBirth | date:'shortDate'}}</p>
        <p>{{currentUser.userId}}</p>
        <p>{{currentUser.username}}</p>
        <p>{{currentUser.permissionLevel }}</p>
      </div>
    </div>
    </div>
      <router-outlet></router-outlet>
